    <div class="d-flex flex-row flex-wrap bg-dark p-1 w-100">
      <h4 class="text-center w-100 text-light m-0 p-0 border-bottom border-light">Copyright 2024 ©</h4>
      <a class="fs-6 text-center w-50 text-light m-0 mt-2 p-0" href="">
        Sobre
      </a>
      <a class="fs-6 text-center w-50 text-light m-0 mt-2 p-0" href="">
        Conheça meus projetos
      </a>
    </div>
    <%- include('./foot'); %>