* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer !important;
}

a {
    text-decoration: none !important;
}